body{
  font-family: 'Righteous', cursive;
  background-image: url("background.jpg");
  background-size: cover;
  background-position: center;
}

main{
  display: flex;
  /* flex-wrap: column; */
  /* flex-grow: 1; */
  min-height: 50vh;
}

footer{
  min-height: 25vh;
}

.card-border{
  border: 1px solid whitesmoke;
  border-radius: 1em;
}

.pointer{
  cursor: pointer;
}